<h2 class="mb-3">Founding organizations</h2>
<div class="row row-cols-1 row-cols-md-2 g-4" data-masonry='{"percentPosition": true }'>
{% assign founding_organizations_sorted = site.data.organizations.founding | sort_natural: 'name' %}
{% for organization in founding_organizations_sorted %}
  <div class="col">
    <div class="card">
      <img src="{{organization.logo}}" class="card-img-top" alt="{{organization.name}}" class="card-img-top mx-auto d-block" style="padding: 30px; height: 150px; width: 300px; object-fit: contain; object-position: center;" >
      <div class="card-body">
        <p class="card-text">
          <ul class="list-group list-group-flush">
          {% assign contributors_sorted = organization.contributors | sort_natural: 'role' %}
          {% for contributor in contributors_sorted %}
            <li class="list-group-item" style="line-height: 1.2;">
              <small>{{contributor.name}}</small><br/>
              <small class="text-muted"><em>{{contributor.role}}</em></small>
            </li>
          {% endfor %}
          </ul>
        </p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
