<script src="{{ "/assets/js/link-ext.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/appearance.js" | prepend: site.baseurl }}"></script>
<!-- Bootstrap core JavaScript -->
<script src="{{ "/assets/js/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap/js/bootstrap.bundle.min.js" | prepend: site.baseurl }}"></script>

<script>
$(function() {
  return $("h2, h3, h4, h5, h6").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    id = $el.attr('id');
    icon = '<i class="fa fa-link"></i>';
    if (id) {
      return $el.append($("<a />").addClass("anchor-icon").attr("href", "#" + id).html(icon));
    }
  });
});
</script>
