<div class="mb-3"></div>
<div class="row row-cols-1 row-cols-md-2 g-4" data-masonry='{"percentPosition": true }'>
{% assign supporting_organizations_sorted = site.data.organizations.supporting | sort_natural: 'name' %}
{% for organization in supporting_organizations_sorted %}
  <div class="col">
    <div class="card">
      <img src="{{organization.logo}}" class="card-img-top" alt="{{organization.name}}" class="card-img-top mx-auto d-block" style="padding: 30px; height: 150px; width: 300px; object-fit: contain; object-position: center;" >
    </div>
  </div>
{% endfor %}
</div>
